<footer class="w-full bg-akcent-color pl-5 pr-5 flex flex-col justify-center pt-2.5 pb-1.5">
  <div class="flex justify-center [&>*]:w-[1.2rem] [&>*]:mr-3 [&>*]:cursor-pointer">
    <a href="https://github.com/sylwiakubicz"><img src="assets/images/logo_git.png"></a>
    <a href="https://www.linkedin.com/in/sylwia-kubicz-774107273/"><img src="assets/images/logo_linkedin.png"></a>
    <a href=""><img src="assets/images/logo_fb.png"></a>
    <a href=""><img src="assets/images/logo_insta.png"></a>
    <a href=""><img src="assets/images/logo_x.png"></a>
  </div>
  <hr class="h-0.5 bg-secondary-color w-full mt-2 mb-1.5 rounded-full">
  <p class="text-center text-secondary-color text-sm">Copyright © {{year}} All Rights Reserved by Sylwia Kubicz</p>
</footer>
