<div class="flex flex-row border bg-white w-[270px] h-[200px] p-1">
    <img [src]="url" alt="book cover" class="object-fill w-[150px] h-full">

  <div class="flex flex-col pl-2 justify-end relative">
    <app-status-icon [id]="id" class="absolute top-0 right-0"></app-status-icon>

    <h1 class="text-md font-semibold cursor-pointer" [routerLink]="['/book', id]">{{title}}</h1>

    <h2 class="text-sm text-gray-600">{{authorsNames}}</h2>

    <p class="text-xs text-justify pt-1 ">{{description.substring(0,70)}}...</p>
    <a [routerLink]="['/book', id]" class="text-additional-color font-semibold text-xs">Read more</a>

  </div>
</div>
