<div class="w-[150px] h-[220px] mt-3 flex flex-col items-center justify-between">
  <button class="w-full pt-2 pb-2 rounded bg-primary-color border-2 border-additional-color
                 font-extrabold text-additional-color text-md"> Fantasy</button>
  <button class="w-full pt-2 pb-2 rounded bg-primary-color border-2 border-additional-color
                 font-extrabold text-additional-color text-md"> Science fiction</button>
  <button class="w-full pt-2 pb-2 rounded bg-primary-color border-2 border-additional-color
                 font-bold text-additional-color text-md"> Romance</button>
  <button class="w-full pt-2 pb-2 rounded bg-primary-color border-2 border-additional-color
                 font-bold text-additional-color text-md"> Criminal</button>
</div>
