<div class="w-[150px] h-[220px] mt-3 flex flex-col items-center justify-between">
  <button class="w-full pt-2 pb-2 rounded border-2 border-additional-color font-semibold text-additional-color text-md hover:bg-primary-color"> Fantasy</button>
  <button class="w-full pt-2 pb-2 rounded border-2 border-additional-color font-semibold text-additional-color text-md hover:bg-primary-color"> Science fiction</button>
  <button class="w-full pt-2 pb-2 rounded border-2 border-additional-color font-semibold text-additional-color text-md hover:bg-primary-color"> Romance</button>
  <button class="w-full pt-2 pb-2 rounded border-2 border-additional-color font-semibold text-additional-color text-md hover:bg-primary-color"> Criminal</button>
</div>
