<div class="min-h-screen desktop:w-[1260px] m-auto bg-primary-color flex justify-center items-center relative h-dvh">
  <p class="text-additional-color text-3xl font-semibold absolute top-[9rem]">Page not found</p>
  <img class="h-[44rem]" src="assets/images/404_error.png" alt="Sad panda reading a book with '404 Not Found' in a speech bubble.">
  <p class="absolute bottom-[13rem] ">You will be automatically redirect to <a href="" class="cursor-pointer text-additional-color font-semibold">home page</a> after {{timer}} seconds</p>
</div>
