
<ul class="grid grid-flow-col overflow-x-hidden gap-1 w-full" style="grid-auto-columns: calc(100% / 7)">
  <app-carousel-item></app-carousel-item>
  <app-carousel-item></app-carousel-item>
  <app-carousel-item></app-carousel-item>
  <app-carousel-item></app-carousel-item>
  <app-carousel-item></app-carousel-item>
  <app-carousel-item></app-carousel-item>
  <app-carousel-item></app-carousel-item>
  <app-carousel-item></app-carousel-item>
  <app-carousel-item></app-carousel-item>
  <app-carousel-item></app-carousel-item>
  <app-carousel-item></app-carousel-item>
</ul>
