<div class="relative">
  <fa-icon id="left" (click)="arrowClick($event, 'left', carouselElement)"
           [icon]="faAngleLeft" class="flex h-[30px] w-[30px] justify-center items-center
                                       rounded-full bg-black opacity-60 text-white z-10
                                       absolute top-1/2 translate-y-[-50%] left-[-20px]
                                       desktop:left-[-12px] desktop:h-[40px] desktop:w-[40px]">
  </fa-icon>
  <ul #carouselElement class="carousel cursor-pointer grid grid-flow-col overflow-x-hidden gap-4 justify-items-center -mr-4 tablet:-mr-2 desktop:mr-0"
      [class]="title == 'RANDOM CHOICE' ? 'random' : 'popular'"
      (mousemove)="dragging($event, carouselElement)"
      (mousedown)="dragStart($event, carouselElement)"
      (mouseup)="dragStop($event, carouselElement)">
    <app-carousel-item  *ngFor="let book of booksData"
                        [bookTitle]="book.title"
                        [bookUrl]="book.covering"></app-carousel-item>
    <app-carousel-item  *ngFor="let book of booksData"
                        [bookTitle]="book.title"
                        [bookUrl]="book.covering"></app-carousel-item>
  </ul>
  <fa-icon id="right" (click)="arrowClick($event, 'right', carouselElement)"
           [icon]="faAngleRight" class="flex h-[30px] w-[30px] justify-center items-center
                                        rounded-full bg-black opacity-60 text-white z-10
                                        absolute top-1/2 translate-y-[-50%] right-[-20px]
                                        desktop:right-[-12px] desktop:h-[40px] desktop:w-[40px]">
  </fa-icon>
</div>
