<nav class="flex justify-between pr-20 pl-20 bg-white shadow h-16 items-center">
  <div class="flex text-2xl font-bold text-emerald-600">
    <p>LOGO</p>
    <p class="pl-2">BooksTracker</p>
  </div>
  <ul class="flex text-lg items-center font-semibold">
    <li class="pr-5 pl-5 hover:underline hover:underline-offset-4 hover:transition-all hover:text-gray-700">
      <a href="#">Books</a>
    </li>
    <li class="pr-5 pl-5 hover:underline hover:underline-offset-4 hover:transition-all hover:text-gray-700">
      <a href="#">MyBooks</a>
    </li>
    <li class="pr-5 pl-5">
      <button class="text-emerald-600 hover:underline hover:underline-offset-4 hover:transition-all hover:text-emerald-500">Sign Out</button>
    </li>
  </ul>
</nav>
