<div class="flex flex-row min-h-screen bg-admin-primary">
  <app-admin-menu></app-admin-menu>
  <section class="w-full pl-5 pt-4 pr-5 ml-[15rem]">
    <header class="flex items-center mb-4">
      <h1 class="text-3xl font-semibold pr-5">Accounts</h1>
      <button class="bg-white text-admin-akcent-color border-admin-lightgray border-[1px] border-opacity-20 font-semibold px-3 drop-shadow-sm py-1.5" [routerLink]="'/admin/accounts/user/new'">Add new</button>
    </header>
    <app-admin-accounts-table></app-admin-accounts-table>
  </section>
</div>
