<div class="flex">
  <button class="w-[11rem] border-[1px] p-1.5 border-white border-r-0 text-white font-semibold bg-additional-color
                tablet:mt-2 tablet:w-[10.4rem]"
  (click)="handleSetStatus(statusText)">
    <fa-icon
      [hidden]="!status"
      [icon]="farSquareCheck"
      class="text-lg cursor-pointer text-white">
      </fa-icon>
    {{ statusText }}
  </button>
  <span class="w-[2.5rem] border-[1px] p-1.5 text-white bg-additional-color border-white text-center text-xs font-semibold cursor-pointer relative
                tablet:mt-2" (click)="handleShowStatuses()">
    <div class="absolute bg-white rounded-lg w-[10px] h-[3px] rotate-45 top-[18px] left-[11px] "></div>
    <div class="absolute bg-white rounded-lg w-[10px] h-[3px] rotate-[-45deg] top-[18px] left-[16px]"></div>
  </span>
</div>

<div [class]="showStatuses ? 'absolute' : 'hidden'" class="border-2 bg-white text-black w-[13.5rem] tablet:w-[12.9rem]">
  <option class="border-2 hover:bg-gray-200 text-center cursor-pointer p-1" (click)="handleSetStatus('Want to read')">Want to read</option>
  <option class="border-2 hover:bg-gray-200 text-center cursor-pointer p-1" (click)="handleSetStatus('Currently reading')">Currently reading</option>
  <option class="border-2 hover:bg-gray-200 text-center cursor-pointer p-1" (click)="handleSetStatus('Read')">Read</option>
</div>

