<input type="text" placeholder="Search..." class="pl-2 h-10 w-[16rem] border-admin-lightgray border-[1px] border-opacity-20 mb-5">

<div class="relative overflow-x-auto shadow-md">
  <table class="w-full text-sm text-left rtl:text-right text-gray-500 dark:text-gray-400">
    <thead class="text-xs text-gray-700 uppercase bg-gray-50 dark:bg-gray-700 dark:text-gray-400">
    <tr>
      <th scope="col" class="px-6 py-3 text-admin-akcent-color">Author name</th>
      <th scope="col" class="px-6 py-3">Author surname</th>
      <th scope="col" class="px-6 py-3 text-admin-akcent-color">Action</th>
    </tr>
    </thead>
    <tbody>
    <tr class="odd:bg-white odd:dark:bg-gray-900 even:bg-gray-50 even:dark:bg-gray-800 border-b dark:border-gray-700">
      <th scope="row" class="px-6 py-4 font-medium whitespace-nowrap dark:text-white text-admin-akcent-color">Jan</th>
      <td class="px-6 py-4">Kowalski</td>
      <td class="px-6 py-4">
        <app-admin-edit-btn [id]="1" [url]="'/admin/library/authors/'" class="mr-2"></app-admin-edit-btn>
        <app-admin-delete-btn [id]="1"></app-admin-delete-btn>
      </td>
    </tr>
    <tr class="odd:bg-white odd:dark:bg-gray-900 even:bg-gray-50 even:dark:bg-gray-800 border-b dark:border-gray-700">
      <th scope="row" class="px-6 py-4 font-medium text-admin-akcent-color whitespace-nowrap dark:text-white">Jan</th>
      <td class="px-6 py-4">Kowalski</td>
      <td class="px-6 py-4">
        <app-admin-edit-btn [id]="1" class="mr-2"></app-admin-edit-btn>
        <app-admin-delete-btn [id]="1"></app-admin-delete-btn>
      </td>
    </tr>
    <tr class="odd:bg-white odd:dark:bg-gray-900 even:bg-gray-50 even:dark:bg-gray-800 border-b dark:border-gray-700">
      <th scope="row" class="px-6 py-4 font-medium text-admin-akcent-color whitespace-nowrap dark:text-white">Jan</th>
      <td class="px-6 py-4">Kowalski</td>
      <td class="px-6 py-4">
        <app-admin-edit-btn [id]="1" class="mr-2"></app-admin-edit-btn>
        <app-admin-delete-btn [id]="1"></app-admin-delete-btn>
      </td>
    </tr>
    </tbody>
  </table>
</div>

