<div class="flex justify-between">
<input [(ngModel)]="search" (keyup.enter)="handleSearch()" type="text" placeholder="Search..." class="pl-2 h-10 w-[16rem] border-admin-lightgray border-[1px] border-opacity-20 mb-5">
  <pagination-controls (pageChange)="pageChanged($event)"
                       [maxSize]="5"
                       [directionLinks]="true"
                       [autoHide]="true"
                       [responsive]="true"
                       previousLabel="Previous"
                       nextLabel="Next"
                       screenReaderPaginationLabel="Pagination"
                       screenReaderPageLabel="page"
                       screenReaderCurrentLabel="You're on page"
                       class="flex ml-5 customPagination flex-row-reverse mt-2"
  ></pagination-controls>
</div>
<div class="relative overflow-x-auto shadow-md">
  <table class="w-full text-sm text-left rtl:text-right text-gray-500">
    <thead class="text-xs text-gray-700 uppercase bg-gray-50">
    <tr>
      <th scope="col" class="px-6 py-3 text-admin-akcent-color">Author name</th>
      <th scope="col" class="px-6 py-3">Author surname</th>
      <th scope="col" class="px-6 py-3 text-admin-akcent-color">Action</th>
    </tr>
    </thead>
    <tbody *ngIf="!isLoading">
    <tr *ngFor="let author of authorsData | paginate: {itemsPerPage: pageSize,
                                                    currentPage: currentPage,
                                                    totalItems: totalItems}"  class="odd:bg-white even:bg-gray-50  border-b">
      <th scope="row" class="px-6 py-4 font-medium whitespace-nowrap text-admin-akcent-color">{{author.name}}</th>
      <td class="px-6 py-4">{{author.surname}}</td>
      <td class="px-6 py-4">
        <app-admin-edit-btn [id]="author.authorId" [url]="'/admin/library/authors/'" class="mr-2"></app-admin-edit-btn>
        <app-admin-delete-btn [id]="author.authorId" [tableName]="'authors'"></app-admin-delete-btn>
      </td>
    </tr>
    </tbody>
  </table>
  <app-loading [isLoading]="isLoading"></app-loading>
</div>
<pagination-controls (pageChange)="pageChanged($event)"
                     [maxSize]="5"
                     [directionLinks]="true"
                     [autoHide]="true"
                     [responsive]="true"
                     previousLabel="Previous"
                     nextLabel="Next"
                     screenReaderPaginationLabel="Pagination"
                     screenReaderPageLabel="page"
                     screenReaderCurrentLabel="You're on page"
                     class="flex ml-5 customPagination flex-row-reverse mt-2"
></pagination-controls>
