<div class="w-full bg-secondary-color mb-4 pt-1 pb-1 flex flex-col ">
  <h3 class="font-bold text-center">INFORMATION</h3>
  <hr class="mt-1 h-0.5 border-none bg-primary-color text-gray-300 mr-5 ml-5">
  <div class=" flex justify-center pb-1 pt-1">
    <div class="flex flex-col items-end pr-4 font-semibold">
      <p>Genres:</p>
      <p>Page number:</p>
      <p>ISBN:</p>
      <p>Publication year:</p>
    </div>
    <div>
      <p>{{ genres == null ? "-" : genres}}</p>
      <p>{{ pageNum == null ? "-" : pageNum}}</p>
      <p>{{ISBN == null ? "-" : ISBN}}</p>
      <p>{{pubYear == null ? "-" : pubYear}}</p>
    </div>
  </div>
</div>
