<div class="container flex flex-col justify-between h-[31rem] pl-4 pr-4 bg-white pt-4
            tablet:w-[25rem] tablet:rounded-lg tablet:h-[40rem] tablet:shadow-xl
            laptop:h-[30rem]">

    <h2 class="text-2xl font-montserrat font-semibold
                tablet:text-center tablet:mt-10 tablet:pt-0">Good to see you again!</h2>
    <app-login-form></app-login-form>
    <p class="self-center">Don't have account? Sign up
      <a href="/register" class="underline underline-offset-2 text-emerald-700">here</a>
    </p>
  <p class="text-center mb-4 text-xs">Forget password? Contact us: support&#64;pandary.com</p>
</div>
