<div class="relative inline-block w-[12rem] h-[44px] mr-5 z-10">
  <button class="w-full focus-visible:outline-none border-secondary-color border-4 pl-1.5 flex justify-between items-center py-[0.35rem] mt-[1px] bg-white"
          (click)="toggleDropdown()">
          <span>
            {{ selectedOption }}
          </span>
    <fa-icon [icon]="sort === 'asc' ? faArrowUp : faArrowDown" class="text-additional-color pr-1"></fa-icon>
  </button>
  <ul class="absolute w-full bg-white border-secondary-color border-4" [ngClass]="isShow ? '' : 'hidden'">
    <li class="px-2 hover:bg-gray-200 flex justify-between items-center" (click)="selectOption('Title', 'asc')">
      Title
      <fa-icon [icon]="faArrowUp" class="text-additional-color"></fa-icon>
    </li>
    <li class="px-2 hover:bg-gray-200 flex justify-between items-center" (click)="selectOption('Title', 'desc')">
      Title
      <fa-icon [icon]="faArrowDown" class="text-additional-color"></fa-icon>
    </li>
    <li class="px-2 hover:bg-gray-200 flex justify-between items-center" (click)="selectOption('Publication year', 'asc')">
      Publication year
      <fa-icon [icon]="faArrowUp" class="text-additional-color"></fa-icon>
    </li>
    <li class="px-2 hover:bg-gray-200 flex justify-between items-center" (click)="selectOption('Publication year', 'desc')">
      Publication year
      <fa-icon [icon]="faArrowDown" class="text-additional-color"></fa-icon>
    </li>
  </ul>
</div>
