<form class="mt-4 bg-white shadow-md flex flex-col mr-5">
  <div *ngIf="id != 0" class="grid grid-cols-8 items-center py-3 px-5 text-lg even:bg-white odd:bg-gray-50 border-b">
    <label class="col-span-1">Id</label>
    <p class="col-span-7">{{id}}</p>
  </div>
  <div class="grid grid-cols-8 items-center py-3 px-5 text-lg even:bg-white odd:bg-gray-50 border-b dark:border-gray-700">
    <label class="span-col-1">Name</label>
    <input type="text" [(ngModel)]="authorName" value="{{authorName}}" name="name" class="col-span-7 border-admin-lightgray border-opacity-30 pl-2 border-[1px] flex-grow">
  </div>
  <div class="grid grid-cols-8 items-start py-3 px-5 text-lg even:bg-white odd:bg-gray-50 border-b dark:border-gray-700">
    <label class="pan-col-1">Surname</label>
    <input type="email" [(ngModel)]="authorSurname" value="{{authorSurname}}" name="author" class="col-span-7 border-admin-lightgray border-opacity-30 pl-2 border-[1px]">
  </div>
  <button (click)="save()" class="w-[10rem] mr-5 my-2 self-end bg-admin-akcent-color text-white font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline" type="button">
    Save
  </button>
</form>

