<app-book-state-details [book_id]="bookStateData?.book?.bookId" [status]="bookStateData?.status?.statusName" [totalPageNumber]="bookData?.pageNumber" [hidden]="!bookStateData" [endDate]="bookStateData?.endDate" [startDate]="bookStateData?.startDate" [currentPage]="bookStateData?.currentPage"></app-book-state-details>

<div class="text-center pl-5 pt-2 tablet:w-full tablet:text-left pr-5">
  <h1 class="text-3xl font-semibold tablet:order-1 tablet:self-start tablet:font-bold">{{bookData?.title}}</h1>
  <hr class="mt-2 h-0.5 border-none bg-secondary-color ">
  <h3 class="text-gray-600 text-lg tablet:order-2 ">{{ authorsNames}}</h3>
</div>

<div class="flex items-center flex-col w-full mt-1
            tablet:m-auto tablet:flex-row tablet:pl-5 tablet:pr-5 tablet:items-start tablet:pt-1.5">

  <div class="flex items-center flex-col bg-primary-color">
    <img [src]="url" alt="book cover" class="mb-2 w-7/12 mt-1.5 tablet:order-3 tablet:max-w-[12.8rem] tablet:w-[12.8rem]">
    <app-star-rating [class]="bookStateData ? 'flex' : 'hidden'" class="pb-2 tablet:order-4 tablet:pb-0" [rating]="bookStateData?.rate" [book_id]="bookData?.bookId" [startDate]="bookStateData?.startDate" [endDate]="bookStateData?.endDate"></app-star-rating>
    <app-status-btn class="mb-3 tablet:order-5 tablet:mb-5" [status]="bookStateData?.status?.statusName" [book_id]="bookData?.bookId"></app-status-btn>
  </div>

  <p class="text-justify mb-3 pl-4 pr-4 tablet:pl-5 tablet:pr-0 ">{{bookData?.description}}</p>

</div>

<app-information-card [genres]="genresNames" [pageNum]="bookData?.pageNumber" [ISBN]="bookData?.ISBN" [pubYear]="bookData?.publicationYear"></app-information-card>


