
<div class="bg-secondary-color w-full pl-5 pr-5 flex flex-col">
  <h2 class="font-semibold text-3xl pb-4 pt-3">Your Progress</h2>
  <div class="flex tablet:justify-between overflow-x-hidden">

    <div class="flex pb-1">
      <p>{{startDate ? (startDate | date : 'longDate') : 'Pick start date'}}</p>
      <input type="date" [ngModel]="startDate == undefined ? '' : startDate" (ngModelChange)="onStartDateChange($event)" class="bg-secondary-color cursor-pointer pl-1 focus-visible:outline-none">
    </div>
    <div class="flex">
      <p class="cursor-auto">{{endDate ? (endDate | date : 'longDate') : 'Pick end date'}}</p>
      <input type="date" [ngModel]="endDate == undefined ? '' : endDate" (ngModelChange)="onEndDateChange($event)" class="bg-secondary-color cursor-pointer pl-1 focus-visible:outline-none">
    </div>
  </div>

  <div class="h-4 bg-gray-300 rounded-md mb-2">
    <div class="h-4 bg-additional-color rounded-md mb-2 relative" [style.width.%]="barProgress"></div>
  </div>

  <div class="flex justify-between pb-4 text-lg flex-col tablet:flex-row ">
    <p class="font-semibold text-gray-800">{{startDate ? (endDate ? "Good job! Find another book to read." : "You can do it! Keep up reading.") : "It's time to start reading!"}}</p>
    <span>
      <input type="number" [ngModel]="currentPage == undefined ? 0 : currentPage" (ngModelChange)="onCurrentPageChange($event)" class="bg-gray-300 w-[4rem] text-center rounded-md focus-visible:outline-none mt-1.5">
       / {{totalPageNumber}}
    </span>
  </div>

  <button [hidden]="hideSaveBtn" class="self-end bg-additional-color text-secondary-color rounded-md pt-1 pb-1 pl-3 pr-3 mb-4 hover:bg-akcent-color" (click)="saveData()">Save</button>
</div>
