<form class="flex flex-col h-[25rem] justify-between
                tablet:h-[20rem] tablet:justify-start tablet:mt-20
                laptop:h-[17rem] laptop:mt-10">
  <app-error-display  [errorMessage]="error"></app-error-display>
  <div class="flex flex-col pt-14
                tablet:pt-4">
    <input class="border-b-2 pb-1.5 mb-4 focus:outline-none" type="email" placeholder="Email" [(ngModel)]="registerObj.email" name="email" required>
    <input class="border-b-2 pb-1.5 mb-4 focus:outline-none" type="text" placeholder="Username" [(ngModel)]="registerObj.username" name="username" required>
    <input class="border-b-2 pb-1.5 mb-4 focus:outline-none" type="password" placeholder="Password" [(ngModel)]="registerObj.password" name="password" required>
  </div>
  <app-submit-btn (buttonClick)="handleSignUp()" buttonText="Sign Up"></app-submit-btn>
</form>
