<form class="flex flex-col h-[25rem] justify-between
                tablet:h-[20rem] tablet:justify-start tablet:mt-20
                laptop:h-[17rem] laptop:mt-10">
  <div class="flex flex-col pt-14
                tablet:pt-4">
    <app-form-input type="email" placeholder="Email"></app-form-input>
    <app-form-input type="password" placeholder="Password"></app-form-input>
    <app-form-input type="password" placeholder="Repeatassword"></app-form-input>
  </div>
  <app-submit-btn (buttonClick)="handleSignUp()" buttonText="Sign Up"></app-submit-btn>
</form>
