<app-navbar></app-navbar>
<div class="bg-primary-color">
  <app-banner [isSearch]="true"></app-banner>

  <a class="flex justify-center w-full pt-5" href="/books">
    <button class="rounded-full bg-white text-left h-[44px] w-[15rem] drop-shadow-md mr-1.5 pl-5 pr-5 focus-visible:outline-none cursor-pointer
                              tablet:w-[30rem]">Search...</button>
    <button class="rounded-full bg-akcent-color w-[44px] h-[44px] border-secondary-color border-2 drop-shadow-md">
      <fa-icon [icon]="faMagnifyingGlass" class="text-secondary-color"></fa-icon>
    </button>
  </a>

  <h2 class="pl-5 pr-5 pt-5 pb-2 text-left font-bold text-xl text-additional-color">Welcome to BooksTracker!</h2>
  <p class="pl-5 pr-5 pb-5 text-justify font-semibold">
    Organize your bookshelf and take full control of your reading journey! Easily sort your books by
    status—whether they’re waiting to be read, currently in progress, or already finished. Track your
    reading progress, rate each book, and discover new titles that will enrich your literary collection.
    Don’t let any literary gem slip through your fingers! Dive into a world of endless stories, set your
    reading goals, and watch as your library grows with each new discovery. Start today and let your passion
    for reading flourish!
  </p>

  <app-carousel-wrapper-popular></app-carousel-wrapper-popular>
  <app-carousel-wrapper-random></app-carousel-wrapper-random>
  <div >

    <div class="flex items-center justify-center pl-5 pr-5 pb-3 pt-5 bg-secondary-color">
      <h2 class="font-semibold text-xl text-nowrap pr-5 uppercase">From Creators</h2>
      <hr class="h-1 w-full rounded bg-additional-color">
    </div>
    <p class="pl-5 pr-5 pb-5 text-justify font-semibold bg-secondary-color">
      Welcome to our app, where your reading journey takes center stage! We created this platform with a simple goal:
      to empower readers like you to discover, organize, and celebrate your love for books. Whether you're a seasoned bookworm
      or just starting your literary adventure, our app is here to help you track your progress, rate your reads, and find new
      stories that captivate your imagination. As Jorge Luis Borges once said, <em>"I have always imagined that Paradise will be
      a kind of library."</em> Your bookshelf is your personal sanctuary, and we're here to make it as inspiring and organized as
      possible. Thank you for joining us—let's make every chapter count!
    </p>
  </div>

</div>
<app-footer></app-footer>



