<div class="container flex flex-col justify-between pl-4 pr-4 w-svw h-[30rem] bg-white
            tablet:w-[25rem] tablet:rounded-lg tablet:h-[40rem] tablet:shadow-xl
            laptop:h-[30rem]">

  <h2 class="text-2xl font-montserrat font-semibold
                tablet:text-center tablet:mt-24">Hi, nice to meet you!</h2>
<app-register-form></app-register-form>
  <p class="self-center mb-4">Already have an account? Sign in
    <a href="#" class="underline underline-offset-2 text-emerald-700">here</a>
  </p>
</div>
