<form class="mt-4 bg-white shadow-md flex flex-col mr-5">
  <div class="grid grid-cols-8 items-center py-3 px-5 text-lg even:bg-white odd:bg-gray-50 border-b">
    <label class="col-span-1">Id</label>
    <p class="col-span-7">1</p>
  </div>
  <div class="grid grid-cols-8 items-center py-3 px-5 text-lg even:bg-white odd:bg-gray-50 border-b dark:border-gray-700">
    <label class="span-col-1">Title</label>
    <input type="text" class="col-span-7 border-admin-lightgray border-opacity-30 pl-2 border-[1px] flex-grow">
  </div>
  <div class="grid grid-cols-8 items-start py-3 px-5 text-lg even:bg-white odd:bg-gray-50 border-b dark:border-gray-700">
    <label class="span-col-1">Description</label>
    <textarea rows="6" class="col-span-7 border-admin-lightgray border-opacity-30 pl-2 border-[1px] flex-grow"></textarea>
  </div>
  <div class="grid grid-cols-8 items-start py-3 px-5 text-lg even:bg-white odd:bg-gray-50 border-b dark:border-gray-700">
    <label class="span-col-1">Authors</label>
    <select class="span-col-2">
      <option>one</option>
      <option>one</option>
      <option>one</option>
    </select>
  </div>
  <div class="grid grid-cols-8 items-start py-3 px-5 text-lg even:bg-white odd:bg-gray-50 border-b dark:border-gray-700">
    <label class="span-col-1">Genres</label>
    <select class="spna-col-2">
      <option>one</option>
      <option>one</option>
      <option>one</option>
    </select>
  </div>
  <div class="grid grid-cols-8 items-start py-3 px-5 text-lg even:bg-white odd:bg-gray-50 border-b dark:border-gray-700">
    <label class="span-col-1">Number of page</label>
    <input type="number" class="span-col-1 border-admin-lightgray border-opacity-30 pl-2 border-[1px]">
  </div>
  <div class="grid grid-cols-8 items-start py-3 px-5 text-lg even:bg-white odd:bg-gray-50 border-b dark:border-gray-700">
    <label class="pan-col-1">Covering</label>
    <input type="file" class="col-span-2 border-admin-lightgray border-opacity-30 pl-2 border-[1px]">
  </div>
  <div class="grid grid-cols-8 items-start py-3 px-5 text-lg even:bg-white odd:bg-gray-50 border-b dark:border-gray-700">
    <label class="span-col-1">Publication year</label>
    <input type="date" class="col-span-1 border-admin-lightgray border-opacity-30 pl-2 border-[1px]">
  </div>
  <div class="grid grid-cols-8 items-start py-3 px-5 text-lg even:bg-white odd:bg-gray-50 border-b dark:border-gray-700">
    <label class="span-col-1">ISBN</label>
    <input type="text" class="col-span-7 border-admin-lightgray border-opacity-30 pl-2 border-[1px]">
  </div>
  <button class="w-[10rem] mr-5 my-2 self-end bg-admin-akcent-color text-white font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline" type="button">
    Save
  </button>
</form>

