<form class="mt-4 bg-white shadow-md flex flex-col mr-5" (submit)="submitBook()">
  <div *ngIf="id" class="grid grid-cols-8 items-center py-3 px-5 text-lg even:bg-white odd:bg-gray-50 border-b">
    <label class="col-span-1">Id</label>
    <p class="col-span-7">{{id}}</p>
  </div>
  <div class="grid grid-cols-8 items-center py-3 px-5 text-lg even:bg-white odd:bg-gray-50 border-b dark:border-gray-700">
    <label class="span-col-1">Title</label>
    <input type="text" class="col-span-7 border-admin-lightgray border-opacity-30 pl-2 border-[1px] flex-grow" [(ngModel)]="title" name="title" >
  </div>
  <div class="grid grid-cols-8 items-start py-3 px-5 text-lg even:bg-white odd:bg-gray-50 border-b dark:border-gray-700">
    <label class="span-col-1">Description</label>
    <textarea rows="6" class="col-span-7 border-admin-lightgray border-opacity-30 pl-2 border-[1px] flex-grow" [(ngModel)]="description"  name="description" ></textarea>
  </div>


  <div class="grid grid-cols-8 items-start py-3 px-5 text-lg even:bg-white odd:bg-gray-50 border-b dark:border-gray-700">
      <legend class="col-span-1 self-center">Authors</legend>

      <div class="h-[7rem] w-[15rem] overflow-scroll overflow-x-hidden col-span-2">
        <div *ngFor="let author of authorsList; let i = index">
          <label>
            <input type="checkbox" [value]="i" [checked]="isAuthorSelected(author)" (change)="onAuthorCheckboxChange($event)">
            {{ author.name }} {{ author.surname }}
          </label>
        </div>
      </div>

  </div>
  <div class="grid grid-cols-8 items-start py-3 px-5 text-lg even:bg-white odd:bg-gray-50 border-b dark:border-gray-700">
    <legend class="col-span-1 self-center">Genres</legend>
    <div class="h-[7rem] w-[15rem] overflow-y-auto scroll overflow-x-hidden col-span-2">
      <div *ngFor="let genre of genresList">
        <label>
          <input type="checkbox" [value]="genre.name" [checked]="isGenreSelected(genre)" (change)="onGenreCheckboxChange($event)">
          {{ genre.name }}
        </label>
      </div>
    </div>
  </div>

  <div class="grid grid-cols-8 items-start py-3 px-5 text-lg even:bg-white odd:bg-gray-50 border-b dark:border-gray-700">
    <label class="span-col-1">Number of page</label>
    <input [(ngModel)]="pageNumber" name="pageNumber" type="number" class="span-col-1 border-admin-lightgray border-opacity-30 pl-2 border-[1px]">
  </div>
  <div class="grid grid-cols-8 items-start py-3 px-5 text-lg even:bg-white odd:bg-gray-50 border-b dark:border-gray-700">
    <label class="col-span-1">Covering</label>
    <input type="file" (change)="onFileSelected($event)" class="col-span-2 border-admin-lightgray border-opacity-30 pl-2 border-[1px]">
    <img *ngIf="url" [src]="url" class="col-span-2 h-[7rem] ml-5">
  </div>
  <div class="grid grid-cols-8 items-start py-3 px-5 text-lg even:bg-white odd:bg-gray-50 border-b dark:border-gray-700">
    <label class="span-col-1">Publication year</label>
    <input type="number"[(ngModel)]="publicationYear" name="publicationYear" class="col-span-1 border-admin-lightgray border-opacity-30 pl-2 border-[1px]">
  </div>
  <div class="grid grid-cols-8 items-start py-3 px-5 text-lg even:bg-white odd:bg-gray-50 border-b dark:border-gray-700">
    <label class="span-col-1">ISBN</label>
    <input type="text" [(ngModel)]="ISBN" name="ISBN" class="col-span-7 border-admin-lightgray border-opacity-30 pl-2 border-[1px]">
  </div>
  <button type="submit" class="w-[10rem] mr-5 my-2 self-end bg-admin-akcent-color text-white font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline">
    Save
  </button>
</form>

