<div class="w-[150px] h-[220px] mt-3 flex flex-col items-center justify-between">
  <button (click)="handleGenreChange('fantasy')" class="w-full pt-2 pb-2 rounded bg-primary-color border-2 border-additional-color
                 font-extrabold text-additional-color text-md"> Fantasy</button>
  <button (click)="handleGenreChange('science fiction')" class="w-full pt-2 pb-2 rounded bg-primary-color border-2 border-additional-color
                 font-extrabold text-additional-color text-md"> Science fiction</button>
  <button (click)="handleGenreChange('romance')" class="w-full pt-2 pb-2 rounded bg-primary-color border-2 border-additional-color
                 font-bold text-additional-color text-md"> Romance</button>
  <button (click)="handleGenreChange('crime')" class="w-full pt-2 pb-2 rounded bg-primary-color border-2 border-additional-color
                 font-bold text-additional-color text-md"> Crime</button>
</div>
