
<div class="text-center tablet:pl-5 tablet:pt-3 tablet:w-full tablet:text-left tablet:pr-5">
  <h1 class="text-3xl pb-2 font-semibold tablet:order-1 tablet:self-start tablet:font-bold tablet:pb-0">Fourth Wing</h1>
  <hr class="mt-2 h-0.5 border-none bg-secondary-color">
  <h3 class="text-gray-600 text-lg tablet:order-2 ">Rebecca Yarros</h3>
</div>

<div class="flex items-center flex-col pt-4 w-full mt-2
            tablet:m-auto tablet:flex-row tablet:pl-5 tablet:pr-5 tablet:items-start">

  <div class="flex items-center flex-col bg-primary-color">
    <img src="https://ecsmedia.pl/c/fourth-wing-czwarte-skrzydlo-b-iext158331354.jpg" class="mb-4 w-7/12 tablet:w-[13rem] tablet:order-3">
    <app-star-rating class="flex pb-6 tablet:order-4" [rating]="0"></app-star-rating>
    <app-status-btn class="mb-4 tablet:order-5"></app-status-btn>
  </div>

  <p class="text-justify pl-4 pr-4 tablet:h-[18rem] tablet:pl-5 tablet:pr-0 ">Twenty-year-old Violet Sorrengail was supposed to enter the Scribe Quadrant, living a quiet life among books and history. Now, the commanding
    general—also known as her tough-as-talons mother—has ordered Violet to join the hundreds of candidates striving to become the elite of Navarre: dragon riders.
    But when you’re smaller than everyone else and your body is brittle, death is only a heartbeat away...because dragons don’t bond to “fragile” humans. They incinerate them.
  </p>

</div>

<app-information-card></app-information-card>


